@model ArtesMarciais.Models.TipoDeAssociacao
@{
    ViewBag.Title = "Detalhes Tipos de Associação";
}

<h3>Detalhes Tipo de Associação</h3>
<ul>
    <li><b>Id:</b> @Model.Id</li>
    <li><b>Nome:</b> @Model.Nome</li>
    <li><b>Período:</b> @Model.Periodo</li>
    <li><b>Mensalidade:</b> @Model.Mensalidade</li>
</ul>