@model ArtesMarciais.Models.Faixa
@{
    ViewBag.Title = "Detalhes Faixas";
}


<h3>Detalhes Faixa</h3>
<ul>
    <li><b>Id:</b> @Model.Id</li>
    <li><b>Nome:</b> @Model.Nome</li>
    <li><b>Grau:</b> @Model.Grau</li>
</ul>